.lib_tools {
	@include no_list;
	margin: 0;
	padding: 0;
	li {
		margin: 0;
		padding: 0;
		display: inline-block;
	} // li
	&-tool {
		font-size: 1px;
		font-size: 0;
		color: transparent;
		&:after {
			@include transition(color .1s ease-in-out);
			@extend %icon_font;
			display: inline-block;
			font-size: 16px;
			padding: 5px 8px;
			border-bottom: 1px solid $color-keyline-alt;
			border-left: 1px solid $color-keyline-alt;
			color: rgba($color-base, .5);
		} // &:after
		&:hover:after,
		&:focus:after {
			color: $color-base;
		} // &:hover, &:focus
		@each $tool, $icon in $tool_icons {
			&--#{$tool}:after {
				content: $icon;
			}
		}
		&--toggle {
			.is-collapsed &:after {
				content: $icon-toggle-down;
			} // .is-collapsed &:after
		}
	} // &-tool
} // .lib_tools
